@font-face {
    font-family: 'Anders';
    src: url('font/Anders.ttf');
    font-style: normal;
}
*{
    padding:0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

#nav{
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    height: 70px;
    text-align: center;
    padding-top: 15px;
    background-color: rgba(1, 0, 1, 0.87);
    z-index: 9999999;
}
#nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#nav img{
    height: 65px;
    margin-top: -5px;
    float: left;
}
#nav ul li a:hover{
    color:#70bcc6;
}
.nw{
    width: 1024px;
    min-width: 1030px;
    margin: 0 auto;
}
.n1{
    font-weight: 300;
    line-height: 22pt;
    font-size: 25pt;
    width: 30%;
    float: left;
    color: #70bcc6;
}
.n2{
    width:70%;
    float: right;
    margin-top: 15px;
}
.n2 ul a{
    text-decoration: none;
    color: white;
}
.link input{
    cursor: pointer;
}
#login {
    list-style: none;
}

#login a {
    text-decoration: none;
    color: white;
}

#login-trigger:hover{
    cursor: pointer;
}

#login-form  {
    position: absolute;
    margin-top: 9px;
    display: none;
    float: left;
    clear: both;
    width:210px;
    padding: 20px;
    margin-left: -100px;
    background: rgba(0,0,0,0.5);
    border:solid 2px white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#login-form .text {
    width: 160px;
    float: right;
    margin:5px auto;
    border-radius: 5px;
    padding: 5px 20px;

}

#login-form .submit {
    padding: 10px 52px;
    background: transparent;
    border: 3px #70bcc6 solid;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin: 5px auto;
    float: right;
}



#home{
    position: relative;
    top:-85px;
}
#productos{
    position: relative;
    top:-85px;
}

#ubicanos{
    position: relative;
    top:-85px;
}
#contactanos{
    position: relative;
    top:-85px;
}
#page1{
    margin-top: 85px;
    width: 100%;
    height: 750px;
    background: no-repeat  rgba(0, 0, 0, 0.6) url("images/splash.jpg");
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-size: cover;
    position: relative;
    min-width: 1030px;
}

.p1w img{
    height: 300px;
    width: 300px;
    margin-top: 80px;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 15px;
}
.p1w{
    width:1024px;
    height: 750px;
    margin: 0 auto;
}
.p1Center{
    
}

.p1 {
    color: white;
    text-align: center;
    background-color: rgba(0,0,0, 0.75);
    border-radius: 15px;
    width:70%;
    margin: 0 auto;
    padding: 15px;

}
.p1 p{
    font-size: 25pt;
    font-weight: 700;
}
.p1 a{
    text-decoration: none;
    color: white;

}
.p1 button{
    margin: 30px auto ;
    padding:20px;
    width: 250px;
    border: solid 3px ;
    cursor: hand;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-size: 12pt;
}
.p1 button:hover{
    background-color: #70bcc6;
    font-weight: 900;
    color: #000;
}
.p1 span{
    font-size: 14pt;
    color: #70bcc6;
}
#page2{
    height: 750px;
    /*background: linear-gradient(-45grad, rgb(145, 145, 145) 0%,rgba(255,255,255,1) 40%,rgba(240,249,255,1) 20%,rgba(240,249,255,1) 60%, rgb(145, 145, 145) 100%);*/
    background-color: #FFF;
    min-width: 1030px;
    background-size: cover;

}
.p2w{
    width: 1024px;
    margin: 0 auto;
    padding: 5px 0;
}
.p2head{
    text-align: center;
    padding: 30px;
    font-weight: 700;
    border-bottom: 3px solid #4c7b83;
    color: #000;
}
.p2img{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: 3px solid #4c7b83;
}

.p2w img{
    height: 100px   ;
}
.p2head p{
    font-size: 14pt;
    font-weight: 400;
}
.i1 h3{
    margin-top: 25px;
    color: #535353;
}
.i1{
    width: 20%;
    text-align: center;
    margin-top: 30px;
    /*background-color: rgba(221, 221, 221, 0.6);*/
    background-color: #70bcc6;
    color: white;
    /*border:solid 2px black;*/
    border-radius: 5px;
    padding: 30px 10px;
}

.i1:hover{
    /*background-color: rgba(112, 188, 198, 0.6);*/
    background-color: #ca6b91;
    background-color: rgba(202,107,145,0.8);
    background-color: #4c7b83;
    color: #FFF;
}
.p2footer{
    margin-top: 50px;
    background-image: url("images/splash2.jpg");
    height: 150px;
    width: 1024px;

    min-width: 1024px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#page3{
    height: 750px;
    /*background-color: #292929;*/
    /*background: linear-gradient(to right, rgba(41,41,41,1) 0%, rgba(84,83,84,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(84,83,84,1) 100%);*/
    color: #000;
    min-width: 1030px;
    /*background: url("images/low-poly-texture-22.png");*/
    background-color: #0B0A08;
    background-size: cover;



}
.p3w{
    width: 1024px;
    margin: 0 auto;
}
.map{
    margin: 15px auto 0;
    border: solid 5px #70bcc6;
    border-radius: 5px;
    padding: 20px;


}
.p3w h1{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color: #70bcc6;
    border-bottom: solid 1px #70bcc6;
}
.p3w span{
    font-size: 20pt;
    font-weight: 300;
    color: #FFF;
}

#page4 {
    width: 100%;
    height: auto;
    /*background: no-repeat  rgba(0, 0, 0, 0.6) url("images/splash3.jpg");*/
    position: relative;
    min-width: 1030px;
    background-color: #FFF;
}

.p4w{
    width:1024px;
    margin: 0 auto;
    text-align: center;
}
.p4w p{
    padding-bottom: 15px;
    font-size: 14pt;
    border-bottom: solid 1px black;
}
.p4w h1{
        padding:30px 0 10px 0 ;
}
.l2 p{
    border-bottom: none;
    font-size: 12pt;
    font-weight: 700;
}
.l2w{
    width: 1024px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: solid 1px black;

}
.l2 img{
    height: 80px;
}
.l2{
    margin-top: 25px;
    width: 25%;
    border:1px solid #83dce8;
    border-radius: 5px;
    background-color: #70bcc6;
    padding: 20px;
    color: #FFF;
}
.l2:hover{
    background-color: #5d97a1;
}
.p4w h2{
    padding-top: 30px;
    margin: 50px 0 30px 0;
}

.c1{
    width: 40%;
    padding: 15px;
    margin: 0 1%    ;
    font-weight: 400;
    font-size: 12pt;
    color: black;

}
.c2{
    width: 86%;
    margin: 2% 0;
    padding: 15px;
    font-weight: 400;
    font-size: 12pt;
    color: black;
}
.p4w button{
    padding: 20px 50px;
    background-color: #70bcc6;
    border: 1px solid #70bcc6;
    font-weight: 700;
    border-radius: 5px;
    font-size: 12pt;
    margin-bottom: 2%;
    color: #FFF;
}
.p4w button:hover{
    background-color: #5d97a1;
}

.c3{
    background-color: #dfdfdf;
    border-radius: 5px;
    margin-bottom: 40px;
}

footer{
    background-color: #292929;
    height: 40px;
    line-height: 40px;
    color: #aaaaaa;
    text-align: center;
}